#map {
  height: 80vh;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #0001;
}

.mapboxgl-ctrl-legend {
  &-pane {
    summary {
      text-transform: none;
      font-size: 0.9rem;
    }

    .labels span { white-space: nowrap; }
  }
}

.mapboxgl-popup {
  min-width: 275px;

  details {
    margin: 0 0.75rem;
  }

  summary {
    margin: 0.75rem 0 0;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    cursor: pointer;
  }

  .metrics {
    li {
      display: flex;
      white-space: nowrap;
      margin: 0.25rem 0;

      em {
        flex: 1;
        display: flex;
        align-items: center;
        opacity: 0.5;
        margin-right: 0.5rem;

        &::after {
          content: '';
          flex: 1;
          margin-left: 0.5rem;
          border-top: 1px solid #0002;
        }
      }

      strong { font-size: 1.2em; }
    }
  }

  input[type="range"] {
    margin: 0.5rem 0 0;
    width: 100%;
  }
}

.marker-alert {
  height: 2.5em;
  width: 2.5em;
  background: url("/alert.png") no-repeat center center;
  background-size: 100%;
}
