.error,
.waiting {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 1em 1.5rem;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 0 0 3px #0001;

	&::before {
		content: '';
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		background: currentColor;
		pointer-events: none;
		margin-right: 1em;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
	}
}

.error {
	color: #f65;
	&::before { mask-image: url('/@/assets/alert.svg'); }
}

.waiting {
	&::before { mask-image: url('/@/assets/download.svg'); }
}
