h2 {
	margin: 0.75rem;
	font-size: 1.25em;
	font-weight: bold;
}

p.not-usable {
	text-align: center;
	margin: 1.5rem;
	opacity: 0.5;
}

small { font-size: 0.75em; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

input[type=range] {
	margin: 0.5rem 0 0;
	width: 100%;
}
