img {
  max-width: 100%;
  pointer-events: none;
}

.icon {
  height: 1.25em;
  margin-right: 0.25em;
  vertical-align: middle;
}

.logos {
  display: inline-flex;
  align-items: center;
  color: #0004;

  &::after,
  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 5vw;
    background: #0002;
    margin: 0 1em;
  }

  a {
    display: inline-flex;
    align-items: center;
    margin: 0 1em;

    img { height: 2rem; }
  }

  .logo-govern { height: 2.5rem; } // Fix Govern logo styling requirements
}
