h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 15vh auto;
  padding: 0 4rem;
}

h2 {
  margin: 0 0 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125em;
}

h3 {
  margin: 0.75rem;
  font-size: 1.25em;
  font-weight: bold;
}

p {
  margin-bottom: 1em;

  &.not-usable {
    text-align: center;
    margin: 1.5rem;
    opacity: 0.5;
  }
}

a {
  text-decoration: none;
  color: currentcolor;
  font-weight: 500;
}

small { font-size: 0.75em; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

.btn {
  background: #fbbb62;
  color: #fff;
  padding: 0.25rem 0.5rem;
  display: block;
  border-radius: 5px;
  margin: 0.7rem 0;
  text-align: center;
}
