constants:
  LIFESPAN: 25 # years
  PANEL_AREA: 1.8 # 1.8 m2
  PANEL_POWER: 0.38 # 0.38 kWp
  EFFICIENCY: 0.83 # 83%
  COSTS:
    REF: 1.3 # €/kWp
    INSTALL: [[2, 1.50], [6, 1.3], [20, 1.15], [50, 1.10], [Infinity, 1]] # €/kW
    OPERATION: [[50, 25], [Infinity, 18]] # €/kWp
  GRANT: 0.4 # 40%
  GRANT_MAX: 20000 # €
  ENERGY:
    TARIFF_C_BASE: 0.0853 # €/kWh
    TARIFF_BLUE_BASE: 0.1 # €/kWh
    PRICE_INCREASE: 0.015 # 1.5%/year

map:
  center: [1.6, 42.55]
  zoom: 11
  style: mapbox://styles/mapbox/light-v9

layers:
  roofs:
    name: Roofs
    type: fill
    paint:
      fill-color: [
        'interpolate', ['linear'],
        ['get', 'mean_rad'],
        1199, '#e0e0e0',
        1200, '#f3e79b',
        1400, '#f8a07e',
        1600, '#ce6693',
        1800, '#5c53a5',
      ]
      fill-outline-color: [
        'interpolate', ['linear'],
        ['zoom'],
        12, transparent,
        19, '#f0f0f0',
      ]
    metadata:
      name: 'Irradiació per coberta'
      labels:
        # Hack to display appropriate legend tags
        1199: 1200 Wh/m²
        1200: ' '
        1400: ' '
        1600: ' '
        1800: 1800Wh/m²

  buildings:
    name: Buildings
    type: fill
    paint:
      fill-color: [
        'match',
        ['case',
          ['==', ['get', 'return_period'], null], 'NOT_APPLICABLE',
          ['<=', ['get', 'return_period'], 7], 'VERY_GOOD',
          ['all', ['>', ['get', 'return_period'], 7], ['<=', ['get', 'return_period'], 8]], 'GOOD',
          ['all', ['>', ['get', 'return_period'], 8], ['<=', ['get', 'return_period'], 9]], 'AVG',
          'BAD',
        ],
        'BAD', '#f65',
        'AVG', '#f3e79b',
        'GOOD', '#8c8',
        'VERY_GOOD', '#497a49',
        '#e0e0e0'
      ]
      fill-outline-color: [
        'interpolate', ['linear'],
        ['zoom'],
        12, transparent,
        19, '#f0f0f0',
      ]
    metadata:
      name: 'Rendiment per edifici'
      labels:
        BAD: Baix
        AVG: Moderat
        GOOD: Bo
        VERY_GOOD: Molt bo
