constants:
  LIFESPAN: 25 # years
  PANEL_AREA: 1.8 # 1.8 m2
  PANEL_POWER: 0.38 # 0.38 kWp
  EFFICIENCY: 0.83 # 83%
  COSTS:
    REF: 1.3 # €/kWp
    INSTALL: [[2, 1.50], [6, 1.3], [20, 1.15], [50, 1.10], [Infinity, 1]] # €/kW
    OPERATION: [[50, 25], [Infinity, 18]] # €/kWp
  GRANT: 0.4 # 40%
  GRANT_MAX: 20000 # €
  ENERGY:
    TARIFF_C_BASE: 0.0853 # €/kWh
    TARIFF_BLUE_BASE: 0.1 # €/kWh
    PRICE_INCREASE: 0.015 # 1.5%/year
  EMISSIONS_FACTOR: 124 # gCO2/kWh
  HOME_CONSUMPTION: 5768 # kWh/any

carto:
  user: obsa-andorra
  query: SELECT cesi, mean_rad, area, use_area, the_geom FROM building_radiation_andorra WHERE valid=1

map:
  center: [1.6, 42.55]
  zoom: 11
  minZoom: 10
  maxBounds: [[1.261305, 42.254118], [1.902439, 42.754004]]
  style: mapbox://styles/mapbox/light-v9

markers:
  - name: pas_de_la_casa
    type: alert
    coordinates: [1.734892, 42.541648]
    text: meteo_conditions

layers:
  roofs:
    name: Roofs
    type: fill
    paint:
      fill-color: [
        'interpolate', ['linear'],
        ['get', 'mean_rad'],
        1199, '#e0e0e0',
        1200, '#f3e79b',
        1400, '#f8a07e',
        1600, '#ce6693',
        1800, '#5c53a5',
      ]
      fill-outline-color: [
        'interpolate', ['linear'],
        ['zoom'],
        12, transparent,
        19, '#666',
      ]
    metadata:
      name: 'Irradiació útil per coberta'
      labels:
        # Hack to display appropriate legend tags
        1199: 1200 kWh/m²
        1200: ' '
        1400: ' '
        1600: ' '
        1800: 1800 kWh/m²

  buildings:
    name: Buildings
    type: fill
    paint:
      fill-color: [
        'match',
        ['case',
          ['==', ['get', 'return_period'], null], 'NOT_APPLICABLE',
          ['<=', ['get', 'return_period'], 6.5], 'VERY_GOOD',
          ['all', ['>', ['get', 'return_period'], 6.5], ['<=', ['get', 'return_period'], 8]], 'GOOD',
          ['all', ['>', ['get', 'return_period'], 8], ['<=', ['get', 'return_period'], 10]], 'AVG',
          'BAD',
        ],
        'VERY_GOOD', '#497a49',
        'GOOD', '#8c8',
        'AVG', '#f3e79b',
        'BAD', '#fbbb62',
        '#e0e0e0'
      ]
      fill-outline-color: [
        'interpolate', ['linear'],
        ['zoom'],
        12, transparent,
        19, '#555',
      ]
    metadata:
      name: Potencial d'aprofitament FV
      labels:
        BAD: Baix
        AVG: Moderat
        GOOD: Bo
        VERY_GOOD: Molt bo
        other: No aprofitable
